.about-container{
padding: 10px 0px;

}
.summary{
    width: 30%;
    padding-right: 60px;
    line-height: 34px;
    font-size: 18px;

}

.summary-text-container{
   position: relative;
   display: flex;
   flex-direction: row;
   width: 100%;
   height: auto;
   align-items: center;

}
.women-img{
    height: 350px;
    width: 300px;
    display: flex;
    align-items: center;
    /* position: absolute; */
    z-index: -1;
    right: 0;
}

@media screen and (max-width: 900px) {
    .women-img {
      display: none;
    }
    .summary{
      padding-right: 0px;
    }
  }