.portfolio-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 100px 0px ;
}
.single-portfolio-card {
  margin: 20px;
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: #000000 0px 1px 15px -4px;
  font-size: 16px;
  perspective: 1000px;
 
}
.portfolio-img {
  width: 200px;
  height: auto;
}
.portfolio-title {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-live-link{
  font-size: 14px;
}
@media screen and (max-width: 900px) {
  .portfolio-container {
 justify-content: center;
  }
}