/* .main-circle {
  width: 55%;
  position: absolute;
  height: 95%;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  justify-self: center;
}
.main-circle-section {
  display: flex;
  justify-content: center;
  background-color: black;
}
.single-skill-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.highlighted-single-skill-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.skill-title-text {
  display: flex;
  justify-content: center;
  font-size: 18px;
  padding-top: 5px;
}
.skill-logo-img {
  width: 100px;
  height: 70px;
}
.circle-center {
  height: 6px;
  width: 6px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #262626;
  border-radius: 100%;
}

.hand-sec {
  animation: rotate 60s infinite linear;
  width: 3px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: "";

  &:before {
    position: absolute;
    content: "";
    background: #050bb0;
    height: 260px;
    width: 3px;
    top: 120px;
  }
}

.hand-hour {
  animation: rotate 43200s infinite linear;
  width: 1px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  &:before {
    position: absolute;
    content: "";
    background: #ff0ed3;
    height: 204px;
    width: 1px;
    top: 176px;
  }
}
.hand-min {
  width: 2px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: rotate 3600s infinite linear;
  &:before {
    position: absolute;
    content: "";
    background: #eeff06;
    height: 240px;
    width: 2px;
    top: 141px;
  }
}

.skills-1 {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 160px;
  margin-top: 50px;
}

.skills-2 {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 44px;
  margin-top: 163px;
}

.skills-3 {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 0px;
  margin-top: 321px;
}
.skills-4 {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 30px;
  margin-top: 480px;
}
.skills-5 {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 140px;
  margin-top: 590px;
}
.skills-6 {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 320px;
  margin-top: 650px;
}

.skills-7 {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 160px;
  margin-top: 50px;
}
.skills-8 {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 44px;
  margin-top: 163px;
}
.skills-9 {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 0px;
  margin-top: 321px;
}
.skills-10 {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 30px;
  margin-top: 470px;
}

.skills-11 {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 140px;
  margin-top: 595px;
}
.extra-skills-text {
  position: absolute;
  margin-top: 180px;
  right: 0px;
  margin-right: 300px;
}

.highlighted-skill {
  color: #b259f7;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}
.skills-marquee-main-container {
  height: 100vh;
}
.marquee-main-section {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: space-between;
}

.skill-right-container {
  flex: 1;
  height: 100%;
}
.left-arraow-img {
  rotate: 180deg;
  display: flex;
  justify-content: left;
  height: 300px;
}
.right-arraow-img {
  display: flex;
  justify-content: right;
  height: 300px;
}
.slashIcon {
  rotate: -10deg;
}
.images-container {
  display: flex;
  flex-direction: row;
  animation: marquee 10s linear infinite;
  width: 50%;
  position: absolute;
  left: 60%;
  overflow-x: hidden;
}
.single-img-container {
  margin: 20px;
  margin-top: 80px;
}
.main-img-of-marquee {
  width: 140px;
}

@keyframes marquee {
  0% {
    left: 60%;
  }
  50% {
    left: 80%;
  }
  70% {
    left: 110%;
  }
  100% {
    display: none;
  }
} */
